.forgot-header {
  color: #92c3a9;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 0%;
}

.forgot-submit-container {
  display: flex;
  gap: 30px;
  width: 470px;
  margin: 60px auto;
}

.forgot-submit-container button {
  border-style: none;
}

.forgot-input {
  margin: auto;
}

.message-container p {
  color: #797979;
  font-size: 18px;
}